In [1]:
import pandas as pd
stock_houses = pd.read_csv("../../Downloads/stock_house1.csv") 
planning_permissions = pd.read_csv("../../Downloads/planning_permissions.csv") 
dwelling_completions = pd.read_csv("../../Downloads/Dwellings_completions.csv")
stock_houses = stock_houses.astype(int)

planning_permissions.reset_index(drop=True, inplace=True)
planning_permissions = planning_permissions.dropna(how = 'all') 
planning_permissions["Period"]= planning_permissions["Period"].fillna(" ")
#data2 = data2.drop(columns="Unnamed: 10")
planning_permissions.rename(
    columns={
        "Annual %\nchange.1": "Anual change % (Q1)",
        "Annual %\nchange.2": "Anual change % (Q2)",
        "Annual %\nchange.3": "Anual change % (Q3)",
        "Annual %\nchange.4": "Anual change % (Q4)",
        "Unnamed: 1": "Quarters",
        
    },
    inplace=True
)

In [5]:
#remove header from columns
dwelling_completions.columns = dwelling_completions.iloc[0]

In [7]:
dwelling_completions.drop(0)

,,2017Q1,2017Q2,2017Q3,2017Q4,2018Q1,2018Q2,2018Q3,2018Q4,2019Q1,2019Q2,2019Q3
1,Single house,871,1031,1126,1224,970,1151,1208,1355,1088,1320,1271
2,Scheme house,1419,1780,2003,2690,2023,2763,2835,3364,2571,2825,3322
3,Apartment,477,455,644,644,476,486,595,726,597,692,1105

In [8]:
planning_permissions

,Period,Quarters,All Houses,Annual % change,of which Multi- Development Houses,Anual change % (Q1),of which One-off houses,Anual change % (Q2),Apartments,Anual change % (Q3),Unnamed: 10,Total Dwellings (All Houses & Apartments),Anual change % (Q4)
0,2017,Q1,3754.0,0.48100,2481.0,0.59400,1273.0,0.30200,896.0,0.60800,NaN,4650.0,0.50400
1,,Q2,3630.0,0.55100,2382.0,0.76400,1248.0,0.26100,823.0,0.02700,NaN,4453.0,0.41800
2,,Q3,3764.0,-0.13900,2382.0,-0.26300,1382.0,0.22400,975.0,-0.32900,NaN,4739.0,-0.18000
3,,Q4,4292.0,0.32300,2970.0,0.40600,1322.0,0.16700,2642.0,1.43700,NaN,6934.0,0.60200
4,,Year,15440.0,0.23700,10215.0,0.23800,5225.0,0.23500,5336.0,0.37000,NaN,20776.0,0.26700
6,2018,Q11,5758.0,0.53000,4367.0,0.76000,1391.0,0.09300,1867.0,1.08000,NaN,7625.0,0.64000
7,,Q2,4951.0,0.36400,3636.0,0.52600,1315.0,0.05400,1826.0,1.21900,NaN,6777.0,0.52200
8,,Q3,4879.0,0.29600,3463.0,0.45380,1416.0,0.02460,3139.0,2.21948,NaN,8018.0,0.69200
9,,Q4,4376.0,0.01957,3017.0,0.01582,1359.0,0.02798,2306.0,-0.12700,NaN,6682.0,-0.03634
10,,Year,19964.0,0.29300,14483.0,0.42300,5481.0,0.04900,9138.0,0.71250,NaN,29102.0,0.40080
12,2019,Q1,4901.0,-0.15000,3445.0,-0.21000,1456.0,0.04670,2592.0,0.39000,NaN,7493.0,-0.03500
13,,Q2,4936.0,0.00000,3549.0,-0.02300,1387.0,0.05470,4675.0,1.56000,NaN,9611.0,0.41800
14,,Q3,4934.0,0.01000,3420.0,-0.01000,1514.0,0.07000,5656.0,0.80000,NaN,10590.0,0.32000