In [63]:
import pandas as pd
stock_houses = pd.read_csv("../../Downloads/stock_house1.csv") 
planning_permissions = pd.read_csv("../../Downloads/planning_permissions.csv") 
dwelling_completions = pd.read_csv("../../Downloads/Dwellings_completions.csv")
dwelling_total =  pd.read_csv("../../Downloads/Dwellings_comp_total.csv")
stock_houses = stock_houses.astype(int)

planning_permissions.reset_index(drop=True, inplace=True)
planning_permissions = planning_permissions.dropna(how = 'all') 
planning_permissions["Period"]= planning_permissions["Period"].fillna(" ")
#data2 = data2.drop(columns="Unnamed: 10")
planning_permissions.rename(
    columns={
        "Annual %\nchange.1": "Anual change % (Q1)",
        "Annual %\nchange.2": "Anual change % (Q2)",
        "Annual %\nchange.3": "Anual change % (Q3)",
        "Annual %\nchange.4": "Anual change % (Q4)",
        "Unnamed: 1": "Quarters",
        
    },
    inplace=True
)

In [64]:
#remove header from columns
dwelling_completions.columns = dwelling_completions.iloc[0]

In [65]:
 dwelling_completions = dwelling_completions.drop(0)

In [66]:
planning_permissions = planning_permissions.drop([planning_permissions.columns[10]], axis='columns')

In [69]:
dwelling_total.columns = dwelling_total.iloc[0]
dwelling_total = dwelling_total.drop(0)
dwelling_total

,,2017Q1,2017Q2,2017Q3,2017Q4,2018Q1,2018Q2,2018Q3,2018Q4,2019Q1,2019Q2,2019Q3,2019Q4
1,All Local Authorities,2767,3266,3773,4558,3469,4400,4638,5445,4256,4837,5698,6450

In [70]:
dwelling_total = dwelling_total.drop(columns='2019Q4')

In [73]:
dwelling_total

,,2017Q1,2017Q2,2017Q3,2017Q4,2018Q1,2018Q2,2018Q3,2018Q4,2019Q1,2019Q2,2019Q3
1,All Local Authorities,2767,3266,3773,4558,3469,4400,4638,5445,4256,4837,5698

In [74]:
# Merging "dwelling_completions" and "dwelling_total"
frames = [dwelling_completions, dwelling_total]
result = pd.concat(frames)

In [75]:
result

,,2017Q1,2017Q2,2017Q3,2017Q4,2018Q1,2018Q2,2018Q3,2018Q4,2019Q1,2019Q2,2019Q3
1,Single house,871,1031,1126,1224,970,1151,1208,1355,1088,1320,1271
2,Scheme house,1419,1780,2003,2690,2023,2763,2835,3364,2571,2825,3322
3,Apartment,477,455,644,644,476,486,595,726,597,692,1105
1,All Local Authorities,2767,3266,3773,4558,3469,4400,4638,5445,4256,4837,5698